.hidden {
    display: none;
}

body {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    height: 100%;

    color: white;
}

  
img {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: -100;
    background-color: rgba(255, 255, 255, 0.5);
}

#clock {
    font-size: 100px;
    margin-top: 200px;
}

#wrap-center {
    column-count: 2;
    max-width: 80%;
 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#inputName {
    width: 65%;
    padding: 1em 1em 0.25em 1em;
    font-size: 1em;
    background-color: transparent;
    border: none;
    border-bottom: 4px solid white;
    transition: .2s;
    text-align: center;
    outline: none;
}

#inputTodo {
    width: 100%;
    display: flex;
    
    border: none;
    border-bottom: 4px solid white;
    outline: none;
}

#quote {
    margin-top: 400px;
}

#weather {
    font-size: 20px;
    text-align: center;
    position:absolute;
    top: 20px;
    right: 20px;
}
