.hidden {
    display: none;
}

body {

    
    font-family: 'Varela Round', sans-serif;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    height: 100%;

    color: white;
}

  
img {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: -100;
    background-color: rgba(255, 255, 255, 0.5);
}


#weather {
    position: absolute;
    font-size: 16px;
    position: absolute;
    top: 25px;
    right: 25px;
}

#clock {
    font-size: 100px;
    margin-top: 200px;
}

#wrap-center {
    position: absolute;
    top: 400px;
    /* justify-content: center;
    align-items: center;
    flex-direction: column; */
    
}

#inputName {
    width: 100%;
    /* padding: 1em 1em 0.25em 1em;
    font-size: 1em; */
    background-color: transparent;
    border: none;
    border-bottom: 4px solid white;
    transition: .2s;
    text-align: center;
    outline: none;
}

#greeting {
    text-align: center;
}


#inputTodo {
    width: 100%;
    display: flex;
    background-color: transparent;
    border: none;
    border-bottom: 4px solid white;
    outline: none;
}

#quote {
    margin-top: 380px;
    text-align: center;
    line-height: 30px;
    font-style: italic;
}

